In [7]:
def quicksort(arr):
  if len(arr) <= 1:
    return arr
  pivot = arr[len(arr) // 2]
  left = [x for x in arr if x < pivot]
  middle = [x for x in arr if x == pivot]
  right = [x for x in arr if x > pivot]
  return quicksort(left) + middle + quicksort(right)

The Time colpexity for the above code is :

a) Best case:T(n)=O(n log n)
b)worst case :T{n}=O(n2)

In [8]:
def nested_loop_example(matrix):
  rows, cols = len(matrix), len(matrix[0])
  total = 0
  for i in range(rows):
    for j in range(cols):
      total += matrix[i][j]
  return total

The Time complexity for above code is:T(n)=O(n)

In [9]:
def example_function(arr):
  result = 0
  for element in arr:
    result += element
  return result

The time complexity for the above code is:T(n)=O(n)

In [10]:
def longest_increasing_subsequence(nums):
  n = len(nums)
  lis = [1] * n
  for i in range(1, n):
    for j in range(0, i):
      if nums[i] > nums[j] and lis[i] < lis[j] + 1:
        lis[i] = lis[j] + 1
  return max(lis)

The time complexity for the above code is : T(n)=O(n2)

In [11]:
def mysterious_function(arr):
  n = len(arr)
  result = 0
  for i in range(n):
    for j in range(i, n):
      result += arr[i] * arr[j]
  return result

The time complexity for the above code is:T(n)=O(n2)

In [12]:
def sum_of_digits(n):
  if n==0:
    return 0
  else:
    return n%10+sum_of_digits(n//10)

number=1234
print("The sum of digits is:",sum_of_digits(number))

The sum of digits is: 10

In [13]:
def generate_fibb(n):
  if n==1:
    return [0]
  elif n==2:
    return [0,1]
  series=generate_fibb(n-1)
  series.append(series[-1]+series[-2])
  return series

generate_fibb(6)

[0, 1, 1, 2, 3, 5]

In [14]:
def check_subset(l,n):
  if n==0:
    return True
  if not l:
    return False

  include=check_subset(l[:-1],n-l[-1])
  exclude=check_subset(l[:-1],n)

  return include or exclude

check_subset([1,4,3,5,7],100)

False

In [3]:
def word_break(s,n):
  if not s:
    return True

  for i in range(1,len(s)+1):
    prefix=s[:i]
    if prefix in n and word_break(s[i:],n):
      return True
  return False

word_break("leetcode",{'leet','code'})

True

In [8]:
def n_queens(n):
    def solve(board, row, cols, diag1, diag2, solutions):
        if row == n:
            solutions.append(["".join(row) for row in board])
            return

        for col in range(n):

            if col in cols or (row - col) in diag1 or (row + col) in diag2:
                continue

            board[row][col] = "Q"
            cols.add(col)
            diag1.add(row - col)
            diag2.add(row + col)


            solve(board, row + 1, cols, diag1, diag2, solutions)


            board[row][col] = "."
            cols.remove(col)
            diag1.remove(row - col)
            diag2.remove(row + col)

    board = [["." for _ in range(n)] for _ in range(n)]
    solutions = []
    solve(board, 0, set(), set(), set(), solutions)
    return solutions


solutions = n_queens(4)
for solution in solutions:
    for row in solution:
        print(row)
    print()

.Q..
...Q
Q...
..Q.

..Q.
Q...
...Q
.Q..